{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}

{% macro extra() %}
    <input name="_add_another" type="submit" class="btn btn-default" value="{{ _gettext('Save and Add Another') }}"/>
    <input name="_continue_editing" type="submit" class="btn btn-default"
           value="{{ _gettext('Save and Continue Editing') }}"/>
{% endmacro %}

{% block head %}
    {{ super() }}
    {{ lib.form_css() }}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='assets/libs/bootstrap-markdown/2.9.0/css/bootstrap-markdown.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/github-markdown.css') }}"/>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='assets/libs/highlight.js/8.7/styles/solarized_dark.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}"/>
{% endblock %}

{% block body %}
    {% block navlinks %}
        <ul class="nav nav-tabs">
            <li>
                <a href="{{ return_url }}">{{ _gettext('List') }}</a>
            </li>
            {%- if admin_view.can_create -%}
                <li>
                    <a href="{{ get_url('.create_view', url=return_url) }}">{{ _gettext('Create') }}</a>
                </li>
            {%- endif -%}
            <li class="active">
                <a href="javascript:void(0)">{{ _gettext('Edit') }}</a>
            </li>
            {%- if admin_view.can_view_details -%}
                <li>
                    <a href="{{ get_url('.details_view', id=model.id, url=return_url) }}">{{ _gettext('Details') }}</a>
                </li>
            {%- endif -%}
        </ul>
    {% endblock %}

    {{ lib.render_form(form, return_url, extra(), form_opts) }}
{% endblock %}

{% block tail %}
    {{ super() }}
    {{ lib.form_js() }}
    <script src="{{ url_for('static', filename='assets/libs/marked/0.3.2/marked.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/highlight.js/8.7/highlight.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/bootstrap-markdown/2.9.0/js/bootstrap-markdown.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/post_editor.js') }}"></script>
{% endblock %}
